# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
*.env
.pnp.js
**/build/
/.pnp
/build
/coverage
/node_modules
node_modules
_node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
backend/resources/backup/
mongodb-realm
