@tailwind base;
@tailwind components;
@tailwind utilities;

.base-style h1 {
  font-size: 26px;
}

.base-style h2 {
  font-size: 24px;
}

.base-style h3 {
  font-size: 20px;
}

ul {
  list-style: circle;
}

ul > li {
  list-style: circle;
}

td {
  border: 1Px solid #000;
}