@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Fira Sans';
  /* font-family: 'Source Sans Pro'; */
  font-weight: 200;
  font-style: normal;
}
a,
button {
  cursor: default;
}

/* z-index */
/* tooltip */
.type-custom {
  z-index: 999;
}

/* scrollbar */
.scrollbar-track {
  background: transparent !important;
}

@media (prefers-color-scheme: light) {
  .scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3) !important;
  }
}

@media (prefers-color-scheme: dark) {
  .scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3) !important;
  }
}

/* NoteDetailEdit */
.base-style h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 12px;
}

.base-style p {
  margin-bottom: 12px;
}

.base-style ul {
  margin-bottom: 12px;
}

.base-style ul > li {
  list-style: disc;
  list-style-position: inside;
  margin-bottom: 4px;
}

.base-style td {
  border: 1px solid #000;
}

/* Set a placeholder for contentEditable element */
[contenteditable][placeholder]:empty:before {
  content: attr(placeholder);
  position: absolute;
  background-color: transparent;
}
@media (prefers-color-scheme: dark) {
  [contenteditable][placeholder]:empty:before {
    color: #ffffffa8;
  }
}
@media (prefers-color-scheme: light) {
  [contenteditable][placeholder]:empty:before {
    color: #000000a8;
  }
}

/* Animations */
.no-animation {
  transition: none !important;
}

/* areaSecondary */
/* .areaSecondary-enter {
  width: 0px;
  transform: translate3d(0, -2000px, 0);
  transition: all 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.areaSecondary-enter-active {
  width: 340px;
  transform: translate3d(0, 0, 0);
  transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.areaSecondary-enter-done {
  width: 340px;
  transform: none;
} */

/* noteItem */
.item-enter {
  height: 0;
  left: -200px;
}
.item-enter-active {
  left: 0;
  height: 104px;
  transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.item-exit {
  z-index: -1;
  height: 104px;
  transform: translateY(0);
}
.item-exit-active {
  height: 0;
  transform: translateY(-104px);
  transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* dropdown */
@keyframes dropdown-enter {
  0% {
    opacity: 0;
    transform: scale(0) translateY(-40px);
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}
@keyframes dropdown-exit {
  0% {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
    transform: scale(0) translateY(-40px);
  }
}
.dropdown-enter {
  transform-origin: top left;
  animation: dropdown-enter 400ms cubic-bezier(0.4, 0, 0.6, 1);
}
.dropdown-enter-active {
  transform-origin: top left;
  opacity: 1;
  transform: translateY(0);
}
.dropdown-exit {
  transform-origin: top left;
  animation: dropdown-exit 400ms cubic-bezier(0.4, 0, 0.6, 1);
}
.dropdown-exit-active {
  transform-origin: top left;
  opacity: 0;
  transform: translateY(-40px);
}

/* fav */
@keyframes fav-enter {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: .5;
    transform: scale(4);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fav-exit {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: .5;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.fav-enter {
  animation: fav-enter 400ms cubic-bezier(0.4, 0, 0.6, 1);
}
.fav-enter-active {
  /* transform: translateY(0); */
}
.fav-exit {
  animation: fav-exit 400ms cubic-bezier(0.4, 0, 0.6, 1);
}
.fav-exit-active {
  /* opacity: 0; */
  /* transform: translateY(-40px); */
}

/* note-tag-tiny */
.note-tag-tiny-enter {
  /* opacity: 0; */
  /* transform: scaleX(0); */
  /* width: 0%; */
}
.note-tag-tiny-enter-active {
  /* opacity: 1; */
  /* transform: scaleX(1); */
  /* width: auto; */
  animation: fav-exit 400ms cubic-bezier(0.4, 0, 0.6, 1);
  /* transition: all 400ms cubic-bezier(0.4, 0, 0.6, 1); */
}
.note-tag-tiny-exit {
  /* opacity: 1; */
  /* width: auto; */
  /* transform: scaleX(1); */
}
.note-tag-tiny-exit-active {
  /* opacity: 0; */
  /* width: 0%; */
  /* transform: scaleX(0); */
  transition: all 400ms cubic-bezier(0.4, 0, 0.6, 1);
}

/* tag-item */
.tag-item-enter {
  height: 0;
}
.tag-item-enter-active {
  height: 40px;
  transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.tag-item-exit {
  z-index: -1;
  height: 40px;
  transform: translateY(0);
}
.tag-item-exit-active {
  height: 0;
  transform: translateY(-40px);
  transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}


/* noteDetail */
.noteDetail-enter {
  left: -200px;
}

.noteDetail-enter-active {
  left: 0;
  transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}







.display-enter, .display-appear {
  top: var(--menu-starting-top);
  width: var(--toggler-width);
  max-height: var(--toggler-height);
  color: var(--fade-from-color);
  background-color: var(--toggler-bg-color);
}
.display-enter-active, .display-appear-active {
  top: var(--menu-ending-top);
  width: var(--menu-width);
  max-height: var(--menu-max-height);
  color: var(--fade-to-color);
  background-color: var(--menu-bg-color);
  transition: all var(--timeout);
}


/* page transition */
.page {
  position: absolute;
  left: 0;
  right: 0;
}

.page-enter {
  transform: translateX(100%);
}

.page-enter-active {
  transform: translateX(0%);
  transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.page-exit {
  transform: translateX(0%);
}

.page-exit-active {
  transform: translateX(-100%);
  transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
