@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Fira Sans';
  /* font-family: 'Source Sans Pro'; */
  font-weight: 200;
  font-style: normal;
}
a,
button {
  cursor: default;
}

.scrollbar-track {
  background: transparent !important;
}

@media (prefers-color-scheme: light) {
  .scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3) !important;
  }
}

@media (prefers-color-scheme: dark) {
  .scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3) !important;
  }
}

.base-style h1 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 10px;
}

.base-style h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 12px;
}

.base-style h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 12px;
}

.base-style p {
  margin-bottom: 12px;
}

.base-style ul {
  margin-bottom: 12px;
}

.base-style ul > li {
  list-style: disc;
  list-style-position: inside;
  margin-bottom: 4px;
}

.base-style td {
  border: 1px solid #000;
}

/* Animations */
.item-enter {
  height: 0;
  left: -200px;
}
.item-enter-active {
  left: 0;
  height: 104px;
  transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.item-exit {
  z-index: -1;
  height: 104px;
  transform: translateY(0);
}
.item-exit-active {
  height: 0;
  transform: translateY(-104px);
  transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.no-animation {
  transition: none !important;
}
